* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fbf3ff;
}

.container {
    position: absolute;
    max-width: 800px;
    height: 500px;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.right-custom {
    position: relative;
    background-image: url('/assets/images/img-form.jpg');
    background-size: cover;
    background-position: center center;
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    color: rgb(192, 192, 192);
    font-size: 12px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-custom {
    position: relative;
    background: #fff;
    border-radius: 25px;
    height: 100%;
    padding: 25px;
    padding-left: 50px;
}

.left-custom header {
    color: #000;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.row{
    height: 100%;
} 

.card-custom {
    position: relative;
    background: #fff;
    height: 100%;
    border-radius: 25px;
    -webkit-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 40px -10px rgba(0, 0, 0, 0.7);
} 


.left-custom .input-custom {
    width: 230px;
    border-radius: 25px;
    padding: 10px;
    padding-left: 50px;
    border: none;
    -webkit-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 49px -14px rgba(0, 0, 0, 0.7);
}

.left-custom .input-custom:focus {
    outline: none;
} 

.form-custom {
    position: relative;
    margin-top: 50px;
} 

.left-custom .button {
    background: linear-gradient(45deg, #3693fd, #005de8);
    color: #fff;
    width: 230px;
    border: none;
    border-radius: 25px;
    padding: 10px;
    -webkit-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 10px 41px -11px rgba(0, 0, 0, 0.7);
} 

.left-custom .button:hover {
    background: linear-gradient(45deg, #5b79ff, #2696ff);
}

.left-custom .button:focus {
    outline: none;
}

.left-custom .fas {
    position: relative;
    color: #4c6cfc;
    left: 36px;
} 